@mixin boxshadow() {
  box-shadow: 0 0.063em 0.188em rgba(0, 0, 0, 0.12), 0 0.063em 0.125em rgba(0, 0, 0, 0.24);
}
@mixin boxshadow_hover() {
  box-shadow: 0 0.063em 0.188em rgba(42, 55, 122, 0.12), 0 0.063em 0.125em rgba(42, 55, 122, 0.24);
}
@mixin paddingMarginZero {
  margin: 0;
  padding: 0;
}
@function main_color() {
  @return rgb(42, 55, 122);
}
// ************
//   My styles
// ************

div.grid-container {
  display: grid;
  grid-template: "header" "content";
  grid-template-columns: "header" 100vw;
}

div.grid-container nav.grid-header {
  grid-area: "header";
  background-color: main_color();
  height: 3.125em;
  @include boxshadow();
  ul {
    margin: 0;
    padding: 0;
    li {
      justify-content: center;
      list-style: none;
      float: left;
      min-width: 3em;
      margin-left: 1em;
      line-height: 3em;
      a {
        text-decoration: none;
        color: white;
      }
    }
    li:first-child {
      margin: 0;
    }
  }
}

div.grid-container section.grid-content {
  grid-area: "content";
  width: 60em;
  min-height: 20em;
  margin: 0.625em auto;
}

.center {
  height: inherit;
  width: 60em;
  margin: 0 auto;
}

.card {
  width: 100%;
  min-height: 5em;
  margin-bottom: 1em;
  color: black;
  padding: 0.3em;
  @include boxshadow();
  ul {
    color: rgba(0, 0, 0, 0.6);
    width: 20%;
    min-height: inherit;
    float: left;
    @include paddingMarginZero();
    li {
      list-style: none;
      width: 50%;
      display: inline-block;

      span {
        display: block;
        width: 100%;
        text-align: center;
        font-weight: 100;
      }
      span:first-child {
        font-weight: bold;
        font-weight: 400;
        line-height: 3em;
      }
    }
  }
  .card-content {
    min-height: inherit;
    width: 80%;
    float: right;
    position: relative;
    span {
      padding: 0.3em;
      color: rgb(51, 170, 255);
    }
    span:last-child {
      display: block;
      position: absolute;
      bottom: 0;
      font-style: italic;
      font-size: 9pt;
    }
  }
}

.card:hover {
  @include boxshadow_hover();
}

/*********
    Ask
*********/

.headline {
  width: 100%;
  height: 2em;
  border: none;
  margin-bottom: 2em;
  padding-left: 1em;
  border-bottom: 1px solid lightgray;
}

.headline:focus,
textarea:focus {
  outline: none;
  border-color: main_color();
}

textarea {
  width: 100%;
  height: 2em;
  margin-bottom: 2em;
  padding-left: 1em;
  border: 1px solid lightgray;
  resize: vertical;
  min-height: 10em;
}

/*********
  Question
*********/
.question_wrapper {
  width: 100%;
  position: relative;
}

.commentList {
  height: 10em;
  li {
    padding: 0.3em;
    list-style: none;
    margin-bottom: 1em;
    @include boxshadow();
    height: inherit;
    background-color: rgba(168, 212, 226,0.2);
    div {
      width: 5em;
      height: inherit;
      float: left;
    }
  }
}
@media only screen and(max-width: 60em) {
  .center,
  div.grid-container section.grid-content {
    width: 100vw;
  }
}
